.Description

  &__imgContainer
    position: relative
    width: 500px
    height: 300px
    & > img
      object-fit: cover
      border-radius: 0.420rem

  &__button
    background: transparent
    padding: 10px
    border: none
    cursor: pointer
    &--border
      img
        box-shadow: 0 0 10px 0 #f3055e
